{% extends 'accounts/main.html' %}

{% block content%}

<h1>Dashboard</h1>

{% include 'accounts/status.html' %}

<!-- <div class="container"> -->

  <br>

<div class="row">
    <div class="col-sm-5">

      <a class="btn btn-primary btn-sm btn-block"  href="{% url 'create_order' %}">Create Customer</a>



      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th></th>
            <th scope="col">Customer</th>
            <th scope="col">Phone</th>
          </tr>
        </thead>
        <tbody>
          
        {% for cust in customer %}
          <tr>
            <td><a class="btn-sm btn-info" href="{% url 'consumer' cust.id %}">View</a></td>
            <td>{{cust.name}}</td>
            <td>{{cust.phone}}</td>
          </tr>

        {% endfor %}

        </tbody>
      </table>
      

    </div>


    <div class="col-sm-7">

      <a class="btn btn-primary btn-sm btn-block"  href="{% url 'create_order' %}">Create Order</a>

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Date Ordered</th>
            <th scope="col">Status</th>
            <th scope="col">Update</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>

          
        {% for ord in orders %}
        <tr>
          <td>{{ord.product}}</td>
          <td>{{ord.date_created}}</td>
          <td>{{ord.status}}</td>
          <td><a class="btn-sm btn-info" href="{% url 'update_order' ord.id %}">Update</a></td>
          <td><a class="btn-sm btn-danger" href="{% url 'delete_order' ord.id %}">Remove</a></td>
          
        </tr>

      {% endfor %}

        </tbody>
      </table>
  
    
    </div>
  </div>

<!-- </div> -->

{% endblock %}