<div class="card-deck">


  
  <div class="card">      
    <div class="card-body">
      <h3 class="card-header">Total Orders</h3>
      <h5 class="card-title">{{order_count}}</h5>
    </div>
  </div>
  
  <div class="card">      
    <div class="card-body">
      <h3 class="card-header">Orders Delivered</h3>
      <h5 class="card-title">{{deliverd}}</h5>
    </div>
  </div>
  
  <div class="card">      
    <div class="card-body">
      <h3 class="card-header">Orders Pending</h3>
      <h5 class="card-title">{{pending}}</h5>
    </div>
  </div>

  </div>